* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 100vh;
}

#bookTitles {
    /* list-style-type: '📘 '; */
    list-style-type: '📖  ';
    line-height: 1.5;
    padding-left: 50px;
    font-size: 1.2rem;
    /* justify-content: center; */
}

fieldset{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

fieldset legend {
    font-size: 2rem;
    font-weight: bold;
    color: #006699;
}

h4 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

h4:before, h4:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #006699;
    margin: auto;
}

h4:before {
    margin-right: 10px;
}

h4:after {
    margin-left: 10px;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    color: rgb(27, 27, 27);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
    --hover: #1173a3cc;
    transition: 0.5s;
    border-bottom: 1px solid #1173a3cc;
    width: 170px;
}


button:hover, button:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
    color: white;
}


span{
    font-size: 1.2rem;
    font-weight: bold;
    color: #bdbdbd;
}

@media screen and (max-width: 600px) {
    span {
        display: none;
    }

    .buttonContainer {
        flex-direction: column;
    }

    button{
        margin-bottom: 5px;
    }
}